.registerForm {
  display: flex;
  background-color: white;
  flex-direction: column;
  gap: 8px;
  width: 500px;
  border-radius: 7px;
  padding: 10px 16px;
}

.registerForm__label {
  font-weight: 600;
}

.registerForm__input {
  border-radius: 7px;
  padding: 0.5rem 0.75rem;
  border-width: 1px;
  border: 1px solid var(--gray300);
}

.registerForm__button {
  border-radius: 7px;
  padding: 8px 12px;
  background-color: var(--primary500);
  border: 1px solid var(--primary500);
  cursor: pointer;
  font-weight: 600;
  color: white;
  letter-spacing: 1px;
  user-select: none;
}

.registerForm__button:hover {
  background-color: var(--primary400);
  border: 1px solid var(--primary400);
}
